rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Schemes can be read by anyone, but only modified by authenticated admins.
    match /schemes/{schemeId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // A user can only read their own customer document.
    // They cannot see other customers' data.
    // They cannot update their own data from the client.
    match /customers/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      // Admins can read all customer data
      allow list, write: if request.auth != null; 
    }

    // A more specific rule for customers collection to allow admins to list all documents
    // and logged-in users to query for their own document by phone number.
    match /customers/{document=**} {
        allow read, write: if request.auth != null;
    }
  }
